.errorDiv{
    /* background-color:#ff7777; */
    border-color: black;
    color: red;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    border: 1px solid red;
    border-radius: 5px;
    max-width: 80%;
    min-height: 2.2rem;
    padding:3%;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.successDivContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: default;
}
.successDiv{
    width: clamp(180px, 40%, 220px);
    aspect-ratio: 3/2;
    background-color: #dffbff;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.successDiv>p{
    text-align: center;
    color: #ff7777;
    font-weight: 600;
}

.posAbsolute{
    position: absolute;
}

@media (max-width: 400px){
    .errorDiv{
        font-size: 0.8rem;
    }
}